/* HTML5 ✰ Boilerplate
 * ==|== normalize ==========================================================
 */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: background:#60a3da;}
body, button, input, select, textarea { font-family: sans-serif; color: #222; }
#bgimg {background:url(../img/generalbg.jpg) top center no-repeat; min-height:760px;}
#bgwrap {background:#4d7737 url(../img/generalbgrepeat.jpg) top center repeat-x;}


::-moz-selection { background: #FDCE3E; color: #000; text-shadow: none; }
::selection { background: #FDCE3E; color: #000; text-shadow: none; }

a { color: #393; cursor:pointer;}
a:visited { color: #551a8b; }
a:hover { color: #3781c4; }
a:focus { outline: none; }
a:hover, a:active { outline: 0; }
a img {border:0 !important;}

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Author: 
   ========================================================================== */
a#logo {position:absolute; margin:8px 0 0 0;}


#account_entry #signup {overflow:hidden; float:right; width:417px; margin:40px 0 0 0; padding:0; height:352px; background:url(../img/signupbg.png) no-repeat;}
#account_entry #signup form {}
#account_entry #signup h2 {color:#3781c4; display:block;  margin:10px 0 0 60px; font-family: 'Slackey', cursive; font-size:50px; text-shadow:2px 2px 2px #999;}
#account_entry #signup h3 {color:#3781c4; display:block; font-size:20px; font-weight:normal; font-family:Arial,sans-serif; margin:0 0 0 95px; padding:0;}
#account_entry #signup ul {margin:10px 90px 5px 40px; padding:0; overflow:hidden;}
#account_entry #signup ul li {color:#000; font-size:16px; line-height:20px; list-style-type:none; display:block; background:url(../img/coinbullet.png) left top no-repeat; padding:0 0 0 30px; margin:0 0 10px 0;}
#account_entry #signup a.child {height:105px; width:134px; display:block !important; margin:0 0 0 30px; border:0; cursor:pointer; background:url(../img/kids_login.png) no-repeat; float:left;}
#account_entry #signup a.child:hover {background-position:-134px 0;}
#account_entry #signup a.parent {height:105px; width:134px; display:block !important; margin:0 90px 0 0; border:0; cursor:pointer; background:url(../img/parents_login.png) no-repeat; float:right;}
#account_entry #signup a.parent:hover {background-position:-134px 0;}

#account_entry #login {margin:40px 0 0 0; padding:0; width:359px; height:352px; float:left; background:url(../img/loginboxbg.png) no-repeat;}
#account_entry #login form {display:block; width:300px; margin:0 0 0 40px; padding:0;}
#account_entry #login h2 {color:#3781c4; display:block;  margin:10px auto 0 auto; text-align:center; font-family: 'Slackey', cursive; font-size:50px; text-shadow:2px 2px 2px #999; padding:0;}
#account_entry #login ul {margin:-5px 0 0 0; padding:0; overflow:hidden;}
#account_entry #login ul li {list-style-type:none; display:block; margin:0 0 5px 0; overflow:hidden;}
#account_entry #login ul label {font-size:17px; color:#3781c4 !important; font-weight:bold; display:block; margin:0 0 5px 0;}
#account_entry #login ul input.field {padding:10px; font-size:17px; border:1px solid #333; width:240px; background:#fff !important;}
#account_entry #login input.button {height:48px; width:134px; display:block !important; margin:0 0 0 65px; border:0; cursor:pointer; background:url(../img/login_lg.png) no-repeat; clear:both;}
#account_entry #login input.button:hover {background-position:-134px 0;}
#account_entry #login a {display:block; font-size:14px; color:#f14f21; margin:10px 0 0 30px;}
#account_entry #login a:hover {color:#000;}
#account_entry #login div {float:right; margin:40px 15px 0 0; padding:8px;}
#account_entry #login #error {margin:15px 25px; padding:0; color:#f00; font-style:italic; text-align:center;}
#account_entry #login #error pre { font-family:arial, sans-serif;}

#activity_log h1 {margin:15px; padding:0;}
#activity_log #child_activity {margin:0 15px 15px 15px;}
#activity_log #child_activity div.child {margin-bottom:20px;}
#activity_log #child_activity h2 {margin:0 0 15px 0; padding:0; clear:both;}
#activity_log #child_activity table {border:1px solid #ccc; border-collapse:collapse; width:100%; margin:0 0 5px 0;}
#activity_log #child_activity h2 img {float:left; width:70px; display:block; margin:0 10px 10px 0;}
#activity_log #child_activity table thead {text-align:left; background:#ddd;}
#activity_log #child_activity table th, #storefront #child_activity table td {padding:5px;}
#activity_log #child_activity table tr {border-top:1px solid #ccc;}
#activity_log {margin:15px;}

#adminbar {background:url(../img/adminbarbg.png); margin:30px 0 0 0;}
#adminbar #childadmin {width:980px; margin:0 auto; color:#fff;}
#adminbar #childadmin ul {overflow:hidden; margin:0; padding:0;}
#adminbar #childadmin ul li {display:block; float:left;}
#adminbar #childadmin ul li.avatar {width:215px;}
#adminbar #childadmin ul li.avatar img {display:block; background:#fff; height:50px; width:50px; float:left; margin:0 8px 0 0;}
#adminbar #childadmin ul li.avatar span {color:#fff; font-size:16px; background:url(../img/coinsm.png) center right no-repeat; padding:5px 25px 5px 0; display:block; float:left; margin:8px 0 0 0;}
#adminbar #childadmin ul a {display:block; float:left;}
#adminbar #childadmin ul a.avatar {display:block; width:117px; height:50px; background:url(../img/avatar.png) no-repeat; margin:0 0 0 15px;}
#adminbar #childadmin ul a.avatar:hover {background-position:-117px;}
#adminbar #childadmin ul a.friends {display:block; width:117px; height:50px; background:url(../img/friends.png) no-repeat; margin:0 0 0 10px;}
#adminbar #childadmin ul a.friends:hover {background-position:-117px;}
#adminbar #childadmin ul a.items {display:block; width:126px; height:50px; background:url(../img/myitems.png) no-repeat; margin:0 0 0 15px;}
#adminbar #childadmin ul a.items:hover {background-position:-126px;}
#adminbar #childadmin ul a.listitem {display:block; width:117px; height:50px; background:url(../img/listitem.png) no-repeat;}
#adminbar #childadmin ul a.listitem:hover {background-position:-117px;}
#adminbar #childadmin ul a.switches {display:block; width:126px; height:50px; background:url(../img/switches.png) no-repeat; margin:0 0 0 15px;}
#adminbar #childadmin ul a.switches:hover {background-position:-126px;}
#adminbar #childadmin ul a.wants {display:block; width:104px; height:50px; background:url(../img/wants.png) no-repeat; margin:0 0 0 10px;}
#adminbar #childadmin ul a.wants:hover {background-position:-104px;}
#adminbar #childadmin ul a.theme {display:block; width:117px; height:50px; background:url(../img/theme.png) no-repeat; margin:0 0 0 12px;}
#adminbar #childadmin ul a.theme:hover {background-position:-117px;}

#bgwrap {margin:0; padding:0;}
#bgimg {margin:0; padding:0;}

#category {margin:15px;}

#category_top {overflow:hidden;}
#category_top h1 {float:left; margin:0; padding:0;}
#category_top ul {float:right; margin:25px 0 0 0;}
#category_top ul li {display:inline; list-style-type:none;}
#category_top select {cursor:pointer;}

#category_listings {margin:10px 0; overflow:hidden;}
#category_listings div {background:#eee; padding:10px; overflow:hidden; margin:0 0 15px 0;}
#category_listings div.even {background:#eff;}
#category_listings div h2 {margin:0 0 10px 0; padding:0; float:left;}
#category_listings div h3 {margin:0 25px 0 0; padding:0; float:right;}
#category_listings div h4 {margin:0 0 15px 0; padding:0; clear:left;}
#category_listings div p {margin:0; padding:0; width:420px; clear:left;}
#category_listings div img {border:1px solid #000; width:200px; height:200px; float:right;}

#container {overflow:hidden; padding:75px 0 0 0 !important;}

#child_accounts {overflow:hidden; margin:0 0 20px 0; padding:0;}
#child_accounts ul {margin:0; padding:0;}
#child_accounts ul li {display:block; border:1px solid #ccc; width:150px; height:150px;}

#claim_notice {background:#c7252d; padding:20px; color:#fff; overflow:hidden; margin:10px 0 0 0;}
#claim_notice form {display:block; overflow:hidden; width:980px; margin:0 auto 0 auto;}
#claim_notice h3 {font-family:slackey, sans-serif; margin:0; padding:0;}
#claim_notice input.button {display:block; margin:15px 0 0 0; background:url(../img/submit_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer; float:right;}
#claim_notice input.button:hover {background-position:-100px;}
#claim_notice input.field {border:1px solid #ccc; padding:8px; width:420px; font-size:17px; display:block; margin:12px 0 0 0; float:left;}

#conversation {margin:0 15px;}
#conversation div.message {background:#eee; padding:10px; margin:0 0 15px 0; font-size:16px;}

#date_sort {overflow:hidden; float:right; width:290px; margin:0 0 15px 0; padding:0;}
#date_sort ul {margin:0; padding:0;}
#date_sort ul li {list-style-type:none; display:block; float:left; margin:0 0 0 4px;}
#date_sort ul label {font-weight:bold; padding:0 5px 0 0;}
#date_sort ul input.field {padding:3px; border:1px solid #ccc; width:80px !important;}

#error404 {overflow:hidden; margin:0; padding:0; min-height:720px;}
#error {background:url(../img/errorbg.png); color:#fff; font-family:arial, sans-serif !important; margin:10px auto 0 auto; font-size:16px; font-weight:bold; border-radius:15px; padding:10px; text-align:center;}

#feedback {overflow:hidden; margin:0; padding:0;}
#feedback input.button {display:block; margin:15px 0 0 0; background:url(../img/submit_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer; float:right;}
#feedback input.button:hover {background-position:-100px;}
#feedback ol label {font-size:16px;}
#feedback ol select {cursor:pointer; padding:5px;}

#error404 {overflow:hidden; margin:30px; padding:0;}

footer {overflow:hidden; min-height:200px; background:#faa71b url(../img/footer_bg.jpg) bottom repeat-x; border-top:15px solid #fff; color:#573c2a; padding-top:25px;}
footer h6 {font-family:slackey, sans-serif; font-size:36px; margin:0 0 10px 0; padding:0; color:#fff; text-shadow:3px 3px 3px #333;}

#footcontainer {width:980px; margin:0 auto; overflow:hidden;}
#footcontainer div.right {float:right; text-align:right;}
#footcontainer div.right img {margin:0 0 5px 0; padding:0;}
#footcontainer div.right p {font-size:16px; line-height:22px; margin:0 0 10px 0; padding:0;}
#footcontainer div.right ul {margin:0; padding:0;}
#footcontainer div.right ul li {list-style-type:none; display:inline; padding:0 0 0 5px;}

#footcontainer div.left {float:left; width:450px; margin:0; padding:0;}
#footcontainer div.left ul {margin:5px 0 0 25px; padding:0; float:left; width:100px;}
#footcontainer div.left ul li {padding:0 0 5px 0;}
#footcontainer div.left ul a {color:#4c361f; text-decoration:none; font-size:16px;}
#footcontainer div.left ul a:hover {color:#e20000; text-decoration:underline;}

#footwrap {overflow:hidden; position:relative; z-index:0 !important; margin:0 auto 0 auto; padding:0;}

#forgot_info {overflow:hidden; margin:30px; padding:0; min-height:720px;}
#forgot_info ul {margin:0; padding:0;}
#forgot_info ul label {font-size:17px;}
#forgot_info ul li {list-style-type:none; display:block;}
#forgot_info ul input {padding:5px; border:1px solid #ccc; width:560px; display:block; margin:0 0 10px 0;}
#forgot_info ul span span {display:block; margin:0 0 10px 0;}
#forgot_info input.button {display:block; margin:15px 0 0 0; background:url(../img/submit_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer;}
#forgot_info input.button:hover {background-position:-100px;}

#gender_selector {margin:0 0 15px 40px;}
#gender_selector button.female {width:150px; height:58px; background:url(../img/female_button.png) no-repeat; border:0; cursor:pointer;}
#gender_selector button.female:hover {background-position:-150px;}
#gender_selector button.male {width:134px; height:58px; background:url(../img/male_button.png) no-repeat; border:0; cursor:pointer;}
#gender_selector button.male:hover {background-position:-134px;}

#headwrap {width:980px; margin:0 auto;}
			

			/*-------------impromptu---------- */
			.jqifade{ position: absolute; background-color: #aaaaaa; }
			div.jqi{ width: 400px; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; position: absolute; background-color: #ffffff; font-size: 11px; text-align: left; border: solid 1px #eeeeee; -moz-border-radius: 10px; -webkit-border-radius: 10px; padding: 7px; border-radius:15px;}
			div.jqi .jqicontainer{ font-weight: bold; }
			div.jqi .jqiclose{ position: absolute; top: 4px; right: -2px; width: 18px; cursor: default; color: #bbbbbb; font-weight: bold; cursor:pointer;}
			div.jqi .jqimessage{ padding: 10px; color: #e44a20; font-size:20px; text-align:center;}
			div.jqi .jqibuttons{ text-align: right; padding: 5px 0 5px 0;}
			div.jqi button{ color:rgba(100%,100%,100%,0); outline: 0 none; background:url(../img/ok.png) no-repeat; border:0; cursor:pointer; width:32px; display:block; float:right; height:32px;}
			div.jqi button:hover{background-position:-32px;}
			/*-------------------------------- */

#head_social {position:absolute; margin:36px 0 0 800px;}
#head_social ul li {list-style-type:none; display:block; float:left; margin:0 0 0 2px; background:#fff; border-radius:10px; padding:5px 5px 2px 5px;}
#head_social ul img {height:24px;}

#item_listings {border:1px solid #000; margin:0 0 0 0; background:#fff;}
#item_listings h1 {margin:15px;}
#item_listings table {border:1px solid #ccc; border-collapse:collapse; width:96%; margin:0 auto 10px auto;;}
#item_listings table thead {text-align:left; background:#ddd;}
#item_listings table th, #my_friend_list table td {padding:10px;}
#item_listings table td {font-size:17px; padding:10px;}
#item_listings table tr {border-top:1px solid #ccc;}
#item_listings table tr.even {background:#eee;}
#item_listings table img {width:80px;}
#item_listings table span {padding:0 5px;}
#item_listings table a.delete {color:#ef4223;}
#item_listings table a.visit {color:#360;}
#item_listings div.pagination {margin:0 20px 15px 0;}

.jump_nav {clear:both; width:500px; margin:0 auto 0 auto; text-align:center; padding:20px 0 0 0;}
.jump_nav select {cursor:pointer;}

#contentbot {background:url(../img/content_bot.jpg) bottom no-repeat; height:19px;}


#main {overflow:hidden; margin:0 0 0 0; padding:0 0 25px 0; background:url(../img/content_top.jpg) top no-repeat; font-family:tahoma, sans-serif;}
#main h1 {color:#5492cd !important; margin:0; padding:0; font-size:32px !important; font-family:Slackey, sans-serif !important;}
#main h2 {font-family:tahoma, sans-serif; font-size:20px; color:#3781c4; margin:0 0 10px 0; padding:0;}
#main h3 {font-family:tahoma, sans-serif;}
#main p {font-size:14px; line-height:20px; margin:0 0 15px 0;}
#main div.frame {margin:40px 50px 0 0; float:right; width:640px; min-height:420px;}
#main div.error {background:#ef4223; padding:10px; text-align:center; color:#fff; font-weight:bold; display:block; clear:both; margin:0 0 10px 0; border-radius:10px; font-size:17px;}
#main div.notice {background:#1b8a0f; padding:10px; text-align:center; color:#fff; font-weight:bold; display:block; clear:both; margin:0 0 10px 0; border-radius:10px; font-size:17px;}
#main div.notice a {color:#fc0;}
#main div.notice a:hover {color:#fff;}
#main div.switch_notice {background:#1b8a0f; padding:10px 25px; text-align:center; color:#fff; font-weight:bold; display:block; clear:both; margin:0 0 0 310px; border-radius:10px; font-size:17px; position:absolute;}
#main div.switch_notice h3 { font-family:Slackey, sans-serif !important;}
#main div.switch_notice h3 a {color:#fc0;}
#main div.switch_notice h3 a:hover {color:#fff;}

#messages {margin:0 15px;}
#messages div.message {background:#eee; padding:10px; font-size:16px; margin:0 0 10px 0;}

#leftcol {float:left; width:220px; margin:20px 0 0 0; padding:0;}
#leftcol h2 {font-family:Slackey; color:#fff; font-weight:bold; font-size:19px !important; padding:6px 0 14px 20px; margin:0; background:url(../img/sideboxheadbg.png) no-repeat;}
#leftcol a.more {display:block; margin:15px 15px 0 0; background:url(../../img/moresm_button.png) no-repeat; height:25px; width:70px; float:right;}
#leftcol a.more:hover {background-position:-70px;}
#leftcol img.left {margin:0 5px 0 5px;}

#leftcol #educationbox div {background:#f8f8e4; margin:-5px 0 0 6px; padding:5px 0; border:2px solid #e8e6c8; border-top:1px solid #e86c8; border-bottom:0;}
#leftcol #educationbox div p {margin:0 10px;}

#leftcol #helpbox div {background:#f8f8e4; margin:-5px 0 0 6px; padding:5px 0; border:2px solid #e8e6c8; border-top:1px solid #e86c8; border-bottom:0;}
#leftcol #helpbox div p {margin:0 10px;}

#leftcol #howitworksbox div {background:#f8f8e4; margin:-5px 0 0 6px; padding:5px 0; border:2px solid #e8e6c8; border-top:1px solid #e86c8; border-bottom:0;}
#leftcol #howitworksbox div p {margin:0 10px;}

#leftcol #safetybox div {background:#f8f8e4; margin:-5px 0 0 6px; padding:5px 0; border:2px solid #e8e6c8; border-top:1px solid #e86c8; border-bottom:0;}
#leftcol #safetybox div p {margin:0 10px;}

#leftcol #adminbox h2 {padding:0 0 0 5px; font-size:22px;}
#leftcol #adminbox h2 img {position:absolute; margin:0 0 0 -12px; z-index:0;}
#leftcol #adminbox ul {background:#e8f4fb; margin:0; padding:5px 0; border-radius:15px 0 0 15px; border:1px solid #333; border-right:0;}
#leftcol #adminbox ul li {list-style-type:none; display:block;}
#leftcol #adminbox ul li a {font-family:slackey; display:block; text-decoration:none; font-size:17px; color:#666; padding:5px 0 5px 10px; overflow:hidden;}
#leftcol #adminbox ul li a:hover {color:#ef4023;}
#leftcol #adminbox ul li a img {float:left; margin:0 5px 0 0; padding:0;}

/*
#leftcol #browsebox {margin:0 0 10px 0; background:url(../img/sidebox_footer.png) bottom no-repeat; padding:0 0 32px 0;}
#leftcol #browsebox a {color:#503b28;}
#leftcol #browsebox a:hover {color:#ef641f;}
#leftcol #browsebox ul {margin:0; padding:0; border:1px solid #666; border-top:0;}
#leftcol #browsebox ul li {margin:0; height:48px; background:url(../img/browselibg.jpg) no-repeat; list-style-type:none; display:block; border-bottom:1px solid #ccc; cursor:pointer;}
#leftcol #browsebox ul a {color:#fff; text-decoration:none; display:block; width:220px; padding:10px 15px 10px 35px; margin:0 0 0 15px; font-size:18px; background:url(../img/banana_icon.png) left center no-repeat; text-shadow:2px 2px 2px #333;}
#leftcol #browsebox ul a:hover {color:#1e8b12; text-shadow:none;}
*/

#leftcol .boxfooter {background:url(../img/sideboxbot.png) right no-repeat; height:32px; margin:0 0 20px 0;}
#leftcol .boxfooter a {display:block; margin:0 0 0 10px; padding:10px 0 0 0;}
#leftcol .boxfooter a.open {display:none;}

#leftcol #browsebox h2 {}
#leftcol #browsebox h2 img {position:absolute; margin:0 0 0 -12px; z-index:0;}
#leftcol #browsebox ul {background:#f8f8e4; margin:-5px 0 0 6px; padding:5px 0; border:2px solid #e8e6c8; border-top:1px solid #e86c8; border-bottom:0;}
#leftcol #browsebox ul li {list-style-type:none; display:block;}
#leftcol #browsebox ul li a {font-family:slackey; display:block; text-decoration:none; font-size:16px; color:#666; padding:5px 0 5px 10px; overflow:hidden; border-bottom:1px solid #ccc;}
#leftcol #browsebox ul li a:hover {color:#ef4023;}
#leftcol #browsebox ul li a img {float:left; margin:0 5px 0 0; padding:0;}

#leftcol #browsebox #categories {}
#leftcol #browsebox #catinfo {background:#f8f8e4; margin:-5px 0 0 6px; padding:5px 0; display:none;}
#leftcol #browsebox #catinfo p {margin:0 10px;}

#leftcol #categorybox {background:#fff; margin:0 0 25px 0; border:1px solid #000;}
#leftcol #categorybox a {color:#503b28;}
#leftcol #categorybox a:hover {color:#ef641f;}

#leftcol #childaccountsbox {margin:0 0 10px 0; background:url(../img/sidebox_footer.png) bottom no-repeat; padding:0 0 32px 0;}
#leftcol #childaccountsbox div {background:#fff; margin:0; padding:10px 0; border:1px solid #666; border-top:0;}
#leftcol #childaccountsbox table {margin:15px auto; width:190px;}
#leftcol #childaccountsbox table a.delete {color:#ef4223;}
#leftcol #childaccountsbox table td {padding:8px 5px; vertical-align:middle;}
#leftcol #childaccountsbox table tr.odd {background:#eee;}
#leftcol #childaccountsbox table img {width:50px;}

#leftcol #parentadminbox h2 {}
#leftcol #parentadminbox h2 img {position:absolute; margin:0 0 0 -12px; z-index:0;}
#leftcol #parentadminbox ul {background:#f8f8e4; margin:-5px 0 0 6px; padding:5px 0; border:2px solid #e8e6c8; border-top:1px solid #e86c8; border-bottom:0;}
#leftcol #parentadminbox ul li {list-style-type:none; display:block;}
#leftcol #parentadminbox ul li a {font-family:slackey; display:block; text-decoration:none; font-size:17px; color:#666; padding:5px 0 5px 10px; overflow:hidden; border-bottom:1px solid #ccc;}
#leftcol #parentadminbox ul li a:hover {color:#ef4023;}
#leftcol #parentadminbox ul li a img {float:left; margin:0 5px 0 0; padding:0;}


#leftcol #navbox {margin:0 0 10px 0; background:url(../img/sidebox_footer.png) bottom no-repeat; padding:0 0 32px 0;}
#leftcol #navbox a {color:#503b28;}
#leftcol #navbox a:hover {color:#ef641f;}
#leftcol #navbox ul {margin:0; padding:0; border:1px solid #666; border-top:0;}
#leftcol #navbox ul li {margin:0; height:48px; background:url(../img/browselibg.jpg) no-repeat; list-style-type:none; display:block; border-bottom:1px solid #ccc; cursor:pointer;}
#leftcol #navbox ul a {color:#fff; text-decoration:none; display:block; width:220px; padding:10px 15px 10px 35px; margin:0 0 0 15px; font-size:18px; background:url(../img/banana_icon.png) left center no-repeat; text-shadow:2px 2px 2px #333;}
#leftcol #navbox ul a:hover {color:#1e8b12; text-shadow:none;}

#leftcol #profilebox {margin:0 0 10px 0; background:url(../img/sidebox_footer.png) bottom no-repeat; padding:0 0 32px 0;}
#leftcol #profilebox div {background:#fff url(../img/profileboxbg.jpg) bottom repeat-x; margin:0; padding:10px 0; border:1px solid #666; border-top:0; overflow:hidden;}
#leftcol #profilebox a {color:#ef4223; font-weight:bold;}
#leftcol #profilebox a:hover {color:#ef641f;}
#leftcol #profilebox button {padding:10px; font-size:15px; cursor:pointer;}
#leftcol #profilebox img {margin:0 auto 5px auto; display:block; width:160px; padding:0;}
#leftcol #profilebox ul {margin:0 auto 15px auto; padding:0; font-family:Slackey, sans-serif; font-size:20px;}
#leftcol #profilebox ul li {list-style-type:none; display:block; text-align:center; width:220px;}
#leftcol #profilebox ul label {font-weight:bold; position:absolute;}
#leftcol #profilebox ul span {}
#leftcol #profilebox ul span.score {font-size:16px;}
#leftcol #profilebox ul span.rank {color:#17880c;}
#leftcol #profilebox a.button {display:block; height:35px; width:100px; border:0; cursor:pointer; float:left; margin:0 0 5px 5px;}
#leftcol #profilebox a.button:hover {background-position:-100px;}
#leftcol #profilebox a.myavatar {background:url(../img/myavatar_button.png) no-repeat;}
#leftcol #profilebox a.myblocks {background:url(../img/myblocks_button.png) no-repeat;}
#leftcol #profilebox a.myfriends {background:url(../img/myfriends_button.png) no-repeat;}
#leftcol #profilebox a.mywants {background:url(../img/mywants_button.png) no-repeat;}
#leftcol #profilebox a.mytheme {background:url(../img/mytheme_button.png) no-repeat;}
#leftcol #profilebox a.mytoys {background:url(../img/mytoyssm_button.png) no-repeat;}
#leftcol #profilebox a.myswitches {background:url(../img/myswitches_button.png) no-repeat;}
#leftcol #profilebox #user_actions {border:0; margin:0; padding:0;}
#leftcol a#list {display:block; background:url(../img/list_button.png) no-repeat; height:79px; width:220px;}
#leftcol a#list:hover {background-position:-220px;}


#leftcol #profilebox_parent {margin:0 0 10px 0; background:url(../img/sidebox_footer.png) bottom no-repeat; padding:0 0 32px 0;}
#leftcol #profilebox_parent div {background:#fff; margin:0; padding:10px 0 0 0; border:1px solid #666; border-top:0;}
#leftcol #profilebox_parent img {margin:10px auto; display:block; text-align:center;}
#leftcol #profilebox_parent ul.details {margin:0 15px 15px 15px; padding:0; text-align:left; width:220px;}
#leftcol #profilebox_parent ul.details a {color:#ef4223; font-weight:bold; display:block; text-align:center; margin-bottom:15px;}
#leftcol #profilebox_parent ul.details a:hover {color:#ef641f;}
#leftcol #profilebox_parent ul.details li {list-style-type:none; padding:0 0 10px 0; display:block;}
#leftcol #profilebox_parent ul.details label {font-weight:bold;}
#leftcol #profilebox_parent ul.details span {margin:2px 0 0 20px; display:block;}
#leftcol #profilebox_parent ul.nav {margin:0; padding:0; border-top:0;}
#leftcol #profilebox_parent ul.nav li {margin:0; height:48px; background:url(../img/browselibg.jpg) no-repeat; list-style-type:none; display:block; border-bottom:1px solid #ccc; cursor:pointer;}
#leftcol #profilebox_parent ul.nav a {color:#fff; text-decoration:none; display:block; width:220px; padding:10px 15px 10px 35px; margin:0 0 0 15px; font-size:18px; background:url(../img/banana_icon.png) left center no-repeat; text-shadow:2px 2px 2px #333;}
#leftcol #profilebox_parent ul.nav a:hover {color:#1e8b12; text-shadow:none;}

#logout {margin:30px; min-height:720px;}
#logout input.button {display:block; margin:15px 0 0 0; background:url(../img/logout_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer;}
#logout input.button:hover {background-position:-100px;}

#my_block_list {overflow:hidden; margin:0; padding:0;}
#my_block_list h1 {margin:0 0 15px 0; padding:0;}
#my_block_list h2 {margin:0 0 0 15px; padding:0;}
#my_block_list table {border:1px solid #ccc; border-collapse:collapse; width:100%; margin:0 0 5px 0;}
#my_block_list table thead {text-align:left; background:#ddd;}
#my_block_list table th, #my_block_list table td {padding:10px;}
#my_block_list table td {font-size:17px; vertical-align:middle;}
#my_block_list table tr {border-top:1px solid #ccc;}
#my_block_list table tr.even {background:#eee;}
#my_block_list table img.avatar {width:80px;}
#my_block_list table span {padding:0 5px;}
#my_block_list table a.delete {color:#ef4223;}
#my_block_list table a.visit {color:#360;}


#my_toys {overflow:hidden; margin:0; padding:0;}
#my_toys h1 a {font-weight:normal;}
#my_toys button {display:block; margin:15px 0 0 0; background:url(../img/submit_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer; float:right;}
#my_toys button:hover {background-position:-100px;}


#nav {background:#000;}


#picker {display:none; background:#158709 url(../img/rightarrow.png) right center no-repeat; color:#fff; padding:15px; border-radius:10px; font-size:20px; font-family:Slackey; padding:15px 50px 15px 15px;}
#picker img {float:right; margin:-5px 0 0 0;}
#picker:hover {background:#ef3d23 url(../img/rightarrow.png) right center no-repeat;}

#privacy_policy {overflow:hidden; margin:0; padding:0;}

#purchase_points {overflow:hidden; margin:0; padding:0;}

#purchase_details {float:right; background:#eee; width:200px; margin:0 15px 15px 0;}
#purchase_details input.button {display:block; margin:15px auto; background:url(../img/order_button.png) no-repeat; height:48px; width:134px; border:0; cursor:pointer;}
#purchase_details input.button:hover {background-position:-134px;}
#purchase_details ul {margin:15px; padding:0; overflow:hidden;}
#purchase_details ul li {list-style-type:none; display:block; overflow:hidden; margin:0 0 5px 0;}
#purchase_details ul label {position:absolute;}
#purchase_details ul span {margin-left:130px;}
#purchase_details ul strong {font-size:19px; display:block; margin:0 0 5px 0; text-align:center;}

#purchase_form {float:left; width:300px; margin:0 0 15px 15px;}
#purchase_form ul {overflow:hidden; margin-bottom:15px;}
#purchase_form ul li {display:block; overflow:hidden;}
#purchase_form ul input, #purchase_form ul label, #purchase_form ul span {float:left; margin-right:10px;}
#purchase_form ul input {cursor:pointer;}
#purchase_form ul span {color:#360; font-weight:bold;}

#record_search {overflow:hidden; margin:0 0 15px 15px;}
#record_search ul {overflow:hidden; margin:0; padding:0;}
#record_search ul li {display:block; float:left; list-style:none; margin:0; padding:0;}
#record_search ul label {font-weight:bold; display:block; margin:0 0 2px 0; font-size:12px;}
#record_search ul input.field {padding:3px; border:1px solid #ccc;}
#record_search ul li.space {margin-left:10px;}

#resend_login {overflow:hidden; margin:0; padding:0;}
#resend_login input.button {display:block; margin:15px 0 0 0; background:url(../img/submit_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer; float:right;}
#resend_login input.button:hover {background-position:-100px;}

#rightcol {width:760px; background:url(../img/contentbg.jpg) repeat-y; float:right; margin:0 0 20px 0;}


#search_box {float:right; width:540px; text-align:right; margin:14px 0 0 0; padding:0;}
#search_box a {color:#4e88c7; font-size:14px; text-decoration:none;}
#search_box a:hover {color:#fff;}
#search_box ul {margin:8px 0 0 15px; padding:0; text-align:right; float:left;}
#search_box ul li {padding:0 10px 0 10px; list-style-type:none; display:inline; border-left:1px solid #ddd;}
#search_box ul li.none {border:0; padding-left:0;}
#search_box ul li.none a {font-weight:bold;}

#search_button {background:url(../img/search_button2.png) no-repeat; border:0; cursor:pointer; width:32px; display:block; float:right; height:32px;}
#search_button:hover {background-position:-32px;}

#search_input {padding:5px; font-size:14px; margin:2px 5px 0 0; width:130px; border:1px solid #ccc; color:#666;}

#search_email {overflow:hidden; float:left; margin:0 0 15px 0; padding:0;}
#search_email ul {margin:0; padding:0;}
#search_email ul li {list-style-type:none;}
#search_email ul input.field {padding:3px; border:1px solid #ccc; width:150px !important; margin:0 5px 0 0;}

#search_users {overflow:hidden; float:left; margin:0 0 15px 0; padding:0;}
#search_users ul {margin:0; padding:0;}
#search_users ul li {list-style-type:none;}
#search_users ul input.field {padding:3px; border:1px solid #ccc; width:150px !important; margin:0 5px 0 0;}

#similar_items {clear:both; margin:0 0 20px 0; overflow:hidden; border-top:1px solid #ccc; padding:15px 0 0 0;}
#similar_items h3 {margin:0 0 15px 0; padding:0; font-family:tahoma, sans-serif; color:#3781c4;   font-size:19px; text-align:center;}
#similar_items ul {margin:0; padding:0;}
#similar_items ul a {display:block; margin:0 0 5px 0; color:#ef3d23; font-size:14px;}
#similar_items ul a:hover {color:#3781c4;}
#similar_items ul li {display:block; float:left; list-style-type:none; text-align:center; margin:0 12px;}
#similar_items ul img {display:block; margin:0 0 10px 0; max-width:135px;}

#sitemap {overflow:hidden; margin:0; padding:0;}

#social {float:right; overflow:hidden; background:url(../img/socialbg.png) no-repeat; width:191px; height:72px; margin:42px 0 0 785px; position:absolute; z-index:999;}
#social ul {margin:11px 0 0 10px; padding:0;}
#social ul li {list-style-type:none; display:inline; padding:0 3px;}

#subnav {position:absolute; margin:-40px 0 0 0; width:680px;}
#subnav ul {overflow:hidden;}
#subnav ul li {display:block; float:right;}
#subnav ul a {background:#eee; border:1px solid #360; padding:10px; display:block; margin:0 0 0 5px;}


#switch_toys table {border:1px solid #ccc; border-collapse:collapse; width:100%;}
#switch_toys table thead {text-align:left; background:#ddd;}
#switch_toys table th, #switch_toys table td {padding:10px;}
#switch_toys table td {font-size:17px;}
#switch_toys table tr {border-top:1px solid #ccc;}
#switch_toys table tr.even {background:#eee;}
#switch_toys table img {width:80px; display:block;}
#switch_toys table img.left {margin:0 10px 0 0;}
#switch_toys table a.status {display:block; float:right; margin:0 auto; background:url(../img/status_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer;}
#switch_toys table a.status:hover {background-position:-100px;}

#theme_viewer {background:#eee; width:640px; height:420px; margin:0 auto 15px auto; text-align:center; border:1px solid #000;}

#tos {overflow:hidden; margin:0; padding:0;}

#unsubscribe {overflow:hidden; margin:0; padding:0;}
#unsubscribe input.button {display:block; margin:15px 0 0 0; background:url(../img/submit_button.png) no-repeat; height:36px; width:100px; border:0; cursor:pointer;}
#unsubscribe input.button:hover {background-position:-100px;}
#unsubscribe input.field {width:560px; padding:5px; border:1px solid #ccc; margin:0 0 10px 0;}

#users {border:1px solid #000; margin:0 0 0 0; background:#fff;}
#users h1 {margin:15px;}
#users table {border:1px solid #ccc; border-collapse:collapse; width:96%; margin:0 auto 10px auto;;}
#users table thead {text-align:left; background:#ddd;}
#users table th, #my_friend_list table td {padding:10px;}
#users table td {font-size:17px; padding:10px;}
#users table tr {border-top:1px solid #ccc;}
#users table tr.even {background:#eee;}
#users table img {width:80px;}
#users table span {padding:0 5px;}
#users table a.delete {color:#ef4223;}
#users table a.visit {color:#360;}
#users div.pagination {margin:0 20px 15px 0;}

#user_notice {background:url(../img/noticebg.png); padding:10px 0; margin:0;}
#user_notice h3 {width:980px; display:block; color:#fff; font-family:arial, sans-serif; margin:0 auto; font-size:16px; text-align:center;}
#user_notice h3 a {color:#fc0;}
#user_notice h3 a:hover {color:#fff;}

#welcome {margin:0 15px 15px 15px;}


/* ==|== non-semantic helper classes ======================================== */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
.center {text-align:center;}
.green {color:#16870a;}
.fb-like {margin:10px 0 0 10px;}

div.pagination {clear:both; text-align:right;}

/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  .clear {clear:both;}
}
