
<label class="checkbox inline">
  <input 
	class="field" 
  	type="checkbox" 
	id="{{ form_name }}_{{ input_name }}" 
	name="{{ form_name }}[{{ input_name }}]" 
  	data-field-order="{{ field_order }}"
  	value="{{ input_value }}"> {{ input_label }}
</label>
