
<label class="checkbox">
  <input 
	class="field"
  	type="checkbox" 
	id="{{ table_name }}_{{ input_name }}" 
	name="{{ table_name }}[{{ input_name }}]" 
  	data-field-order="{{ field_order }}"
  	value="{{ input_value }}"> {{ input_label }}
</label>
