
<div 
	class="field input-append date bs_datepicker" 
	id="dp_{{ form_name }}_{{ input_name }}" 
	data-date="{{ value }}" 
	data-date-format="dd-mm-yyyy"
	>
	<label>{{ input_label }}</label>
    <input 
    	class="field" 
    	size="16" 
    	type="text" 
    	value="{{ input_value }}" 
    	readonly 
    	data-field-order="{{ field_order }}"
    	{{ required }}
    >
    <span class="add-on"><i class="icon-calendar"></i></span>
</div>