
<div 
	class="input-append date bs_datepicker form_datetime" 
	data-date="{{ value }}" 
	>
	<label>{{ input_label }}</label>
    <input 
		id="{{ table_name }}_{{ input_name }}" 
		name="{{ table_name }}[{{ input_name }}]" 
    	class="field" 
    	size="16" 
    	type="text" 
    	value="{{ input_value }}" 
    	readonly 
    	data-field-order="{{ field_order }}"
    	{{ required }}
    >
    <span class="add-on"><i class="icon-calendar"></i><i class="icon-time"></i></span>
</div>