
<span class="{{ span_width }}">
	<input 
		id="{{ form_name }}_{{ input_name }}" 
		class="field {{ input_width }}" 
		type="file" 
		name="{{ form_name }}[{{ input_name }}]" 
		data-field-order="{{ field_order }}"
		{{ required }}
	>
	<label>{{ hint }}</label>
</span>
