<form name="{{table_name}}" id="{{table_name}}Form" method="{{ form_method }}" action="{{form_path}}">
	<fieldset>
		<legend>{{form_title}}</legend>
		{{ form_caption }}
		<div id="{{table_name}}_fields">
			{{{form_fields}}}
		</div>
		<div class="form-actions">
			<button type="submit" class="btn btn-primary">{{submit_name}}</button>
		</div>
	</fieldset>
</form>
