
<span class="{{ span_width }}">
	<select 
		id="{{ table_name }}_{{ input_name }}[]" 
		class="field {{ input_width }}" 
		multiple="multiple" 
		name="{{ table_name }}[{{ input_name }}]" 
		size="{{ size }}" 
		{{ required }}
	>
		{{ options }}
	</select>
	<label>{{ hint }}</label>
</span>
