
<span>
	<input 
		id="{{ form_name }}_{{ input_name }}" 
		name="{{ form_name }}[{{ input_name }}]" 
		class="field input-block-level {{ required }}" 
		type="password" 
		rel="popover" 
		data-content="Please enter a password of at least 6 characters in length." 
		placeholder="Password" 
		minlength="6" 
		data-original-title=""
		value="{{ input_value }}" 
		data-field-order="{{ field_order }}"
		{{ required }}
	>
</span>

