
<span>
	<input id="{{ form_name }}_{{ input_name }}_{{ option_number }}" name="{{ form_name }}[{{ input_name }}]" type="radio" class="field radio" value="{{ val }}" {{ checked }}>
	<label class="choice" for="{{ form_name }}_{{ input_name }}_{{ option_number }}">{{ label }}</label>
</span>

