
<span>
	<input id="{{ table_name }}_{{ input_name }}_{{ option_number }}" name="{{ table_name }}[{{ input_name }}]" type="radio" class="field radio" value="{{ val }}" {{ checked }}>
	<label class="choice" for="{{ table_name }}_{{ input_name }}_{{ option_number }}">{{ label }}</label>
</span>

