
<span class="{{ span_width }}">
	<select 
		id="{{ table_name }}_{{ input_name }}" 
		class="field {{ input_width }}" 
		name="{{ table_name }}[{{ input_name }}]" 
		{{ required }}
		data-field-order="{{ field_order }}"
	>
		{{ options }}
	</select>
	<label>{{ hint }}</label>
</span>
