
<span>
	<label>{{ input_label }}</label>
	<textarea 
		id="{{ form_name }}_{{ input_name }}" 
		class="field input-block-level text" 
		name="{{ form_name }}[{{ input_name }}]" 
		data-field-order="{{ field_order }}"
		{{ required }}
	>{{ input_value }}</textarea>
</span>
