
<span>
	<input 
		id="{{ table_name }}_{{ input_name }}" 
		name="{{ table_name }}[{{ input_name }}]" 
		class="field input-block-level {{ required }}" 
		maxlength="{{ size }}" 
		type="text" 
		rel="popover" 
		data-content="{{ error_message }}." 
		placeholder="{{ input_label }}" 
		value="{{ input_value }}" 
		data-field-order="{{ field_order }}"
		{{ required }}
	>
</span>


