
<div 
	class="field input-append date bs_datepicker" 
	id="dp_{{ table_name }}_{{ input_name }}" 
	data-date="{{ value }}" 
	data-date-format="h:ii a"
	data-field-order="{{ field_order }}"
	>
	<label>{{ input_label }}</label>
    <input size="16" type="text" value="{{ input_value }}" readonly {{ required }}>
    <span class="add-on"><i class="icon-time"></i></span>
</div>