<html>
<head>
	<title>{% site_url %}</title>
	<style> body, div, strong, big { font-family:Arial, Helvetica, sans-serif; } </style>
</head>
<body topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" marginheight="0" marginwidth="0" bgcolor="#5593ce" text="#000000">

<div style="width:600px; margin:10px auto; text-align:center;"><a href="http://www.swtichmonkey.com"><img border="0" src="http://www.switchmonkey.com/img/switchmonkeylogo_lg.png"></a></div>
<div style=" background:#fff;">
    <div style="width:600px; margin:0 auto; padding:10px 0;">
        {% mailer_contents %}
    </div>
</div>

<div style="background:#573c2b; margin:0; padding:0; border-top:15px solid #4b3422;">
    <div style="color:#fff; font-size:12px; width:600px; margin:0 auto; padding:10px 0;">
    	<div style="float:right; text-align:right;">
        	<img src="http://www.switchmonkey.com/img/truste.png" />
        	<img src="http://www.switchmonkey.com/img/bbb.png" /><br />
        </div>
        <p style="margin:0; padding:0;">SwitchMonkey.com LLC<br />P.O. Box 33117<br />Palm Beach Gardens, FL<br />33420-3117<br /><a href="http://{% site_url %}/Legal/Unsubscribe/" target="_blank" style="color:#fc0; font-size:10px; cursor:pointer;">Unsubscribe</a>
</p>
    </div>
</div>
</body>
</html>