<div>
	<p>Dear Member,</p>
	
	<p>
		You are receiving this message because you requested that a copy of your<br>
		login information, on {% site_url %}, be emailed to you.
	</p>
	
	<p>
		Password Reset Code:<br>
		<a href="http://{% site_url %}/Account/-/ForgotInfo/?reset_code={% pass_code %}">{% pass_code %}</a><br>
		<br>
		If you'd still like to reset your password, visit the <a href="http://{% site_url %}/Account/-/ForgotInfo/?reset_code={% pass_code %}">password reset page</a>.<br>
		<br>
		Your password will not be changed unless you enter the code. Once used, this code will expire. If left unused, this code will expire.<br>
	</p>
	
	<p>
		Sincerely,<br>
		{% site_name %}
	</p>
</div>