<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
	{{#validators}}
		<li><a data-toggle="tab" href="#e{{validator_type}}">{{validator_type}}</a></li>
	{{/validators}}
	</ul>

	<div class="tab-content">
	{{#validators}}
		<div class="tab-pane" id="e{{validator_type}}">
		{{#methods}}
			<label class="checkbox input-block-level">
				<input 
					type="checkbox" 
					class="methods" 
					id="ev_{{validator_type}}_{{method_name}}" 
					name="Validator[{{validator_type}}][{{method_name}}]" 
					value="{{method_name}}"
					data-validator="{{validator_type}}"
					data-method="{{method_name}}"
				> <span class="method_name" data-toggle="tooltip" title="A method of {{class_origin}}">{{method_name}}</span>
			</label>
			<div class="parameters">
			{{#parameters}}
				<input 
					class="input-block-level" 
					id="ep_{{validator_type}}_{{method_name}}_{{parameter_name}}" 
					name="Validator[{{validator_type}}][{{method_name}}][{{parameter_name}}]" 
					type="text" 
					placeholder="{{parameter_definition}}"
					data-validator="{{validator_type}}"
					data-method="{{method_name}}"
					data-parameter="{{parameter_name}}"
				>
			{{/parameters}}
			</div>
		{{/methods}}
		</div>
	{{/validators}}
	</div>

</div>
