<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
	{{#validators}}
		<li><a data-toggle="tab" href="#e{{validator_type}}">{{validator_type}}</a></li>
	{{/validators}}
	</ul>

	<div class="tab-content">
	{{#validators}}
		<div class="tab-pane" id="e{{validator_type}}">
		{{#methods}}
			<label class="checkbox input-block-level">
				<input type="checkbox" class="methods" name="ev_{{validator_type}}_{{method_name}}" value="{{method_name}}"> {{method_name}}
			</label>
			<div class="parameters">
			{{#parameters}}
				<input class="input-block-level" name="ep_{{validator_type}}_{{method_name}}_{{.}}" type="text" placeholder="{{.}}">
			{{/parameters}}
			</div>
		{{/methods}}
		</div>
	{{/validators}}
	</div>

</div>
