# ExpiresActive On
# ExpiresDefault A0

# Set up caching on media files for 1 year (forever?)
# <FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav)$">
# ExpiresDefault A29030400
# Header append Cache-Control "public"
# </FilesMatch>

RewriteEngine On
RewriteBase /
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ $1?%1 [L]

RewriteRule ^sitemap.xml$ index.php?framework[controller_name]=SitemapXML&framework[controller_format]=XML [L]

# catch everything and forward it to php as one big string that the framework can parse out without doing all this stuff in apache
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^([a-zA-Z0-9-_\+\w\.\/]+)/?$ index.php?framework[requested_url]=$1&&%1 [L]

