			
				<span>
					<input tabindex="{% tab_index1 %}" id="{% form_name %}_{% input_name %}-1" type="text" class="field text" name="{% form_name %}[{% input_name %}][month]" maxlength="2" size="2" style="width:30px;" value="{% MM %}" {% required %}>
					<label for="{% form_name %}_{% input_name %}_month">MM</label>
				</span>
				<span class="symbol">/</span>
				<span>
					<input tabindex="{% tab_index2 %}" id="{% form_name %}_{% input_name %}-2" type="text" class="field text" name="{% form_name %}[{% input_name %}][day]" maxlength="2" size="2" style="width:30px;" value="{% DD %}" {% required %}> 
					<label for="{% form_name %}_{% input_name %}_day">DD</label>
				</span>
				<span class="symbol">/</span>
				<span>
					<input tabindex="{% tab_index3 %}" id="{% form_name %}_{% input_name %}" type="text" class="field text" name="{% form_name %}[{% input_name %}][year]" maxlength="4" size="4" style="width:50px;" value="{% YYYY %}" {% required %}> 
					<label for="{% form_name %}_{% input_name %}_year">YYYY</label>
				</span>
				<span id="cal_{% form_name %}_{% input_name %}" class="symbol">
					<!--  img alt="Pick a date." src="/img/calendar.png" class="datepicker" id="{% form_name %}_{% input_name %}_datepicker" -->
				</span>
				<span class="full"><label for="{% form_name %}_{% input_name %}_month">{% hint %}</label></span>
