			
				<span>
					<input tabindex="{% tab_index1 %}" id="{% form_name %}_{% input_name %}_month" type="text" class="field text" name="{% form_name %}[{% input_name %}][month]" maxlength="2" size="2" style="width:30px;" value="{% MM %}">
					<label for="{% form_name %}_{% input_name %}_month">MM</label>
				</span>
				<span class="symbol">/</span>
				<span>
					<input tabindex="{% tab_index2 %}" id="{% form_name %}_{% input_name %}_day" type="text" class="field text" name="{% form_name %}[{% input_name %}][day]" maxlength="2" size="2" style="width:30px;" value="{% DD %}"> 
					<label for="{% form_name %}_{% input_name %}_day">DD</label>
				</span>
				<span class="symbol">/</span>
				<span>
					<input tabindex="{% tab_index3 %}" id="{% form_name %}_{% input_name %}_year" type="text" class="field text" name="{% form_name %}[{% input_name %}][year]" maxlength="4" size="4" style="width:50px;" value="{% YYYY %}"> 
					<label for="{% form_name %}_{% input_name %}_year">YYYY</label>
				</span>
				<span class="symbol">&nbsp;</span>
				<span>
					<input tabindex="{% tab_index4 %}" id="{% form_name %}_{% input_name %}_hour" type="text" class="field text" name="{% form_name %}[{% input_name %}][hour]" maxlength="2" size="2" style="width:30px;" value="{% hh %}">
					<label for="{% form_name %}_{% input_name %}_hour">hh</label>
				</span>
				<span class="symbol">:</span>
				<span>
					<input tabindex="{% tab_index5 %}" id="{% form_name %}_{% input_name %}_minute" type="text" class="field text" name="{% form_name %}[{% input_name %}][minute]" maxlength="2" size="2" style="width:30px;" value="{% mm %}"> 
					<label for="{% form_name %}_{% input_name %}_minute">mm</label>
				</span>
				<span>
					<label><input tabindex="{% tab_index6 %}" id="{% form_name %}_{% input_name %}_ampm" type="radio" class="field" name="{% form_name %}[{% input_name %}][ampm]" value="am">AM</label>
					<label><input id="{% form_name %}_{% input_name %}_ampm" type="radio" class="field" name="{% form_name %}[{% input_name %}][ampm]" value="pm">PM</label>
				</span>
				<span class="symbol">
					<img alt="" src="/img/calendar.png" class="datetimepicker" id="{% form_name %}_{% input_name %}_datetimepicker">
				</span>
				<span class="full"><label for="{% form_name %}_{% input_name %}_month">{% hint %}</label></span>
