			
				<label class="desc" id="{% form_name %}_{% input_name %}" for="{% form_name %}_{% input_name %}_hour">
				Time
				</label>
				<span class="hours">
					<input tabindex="{% tab_index1 %}" id="{% form_name %}_{% input_name %}_hour" type="text" class="field text" name="{% form_name %}[{% input_name %}][hour]" maxlength="2" size="2" style="width:30px;" value="{% hh %}" {% required %}>
					<label for="{% form_name %}_{% input_name %}_hour">hh</label>
				</span>
				<span class="symbol minutes">:</span>
				<span>
					<input tabindex="{% tab_index2 %}" id="{% form_name %}_{% input_name %}_minute" type="text" class="field text" name="{% form_name %}[{% input_name %}][minute]" maxlength="2" size="2" style="width:30px;" value="{% mm %}" {% required %}> 
					<label for="{% form_name %}_{% input_name %}_minute">mm</label>
				</span>
				<span class="ampm">
					<label><input tabindex="{% tab_index3 %}" id="{% form_name %}_{% input_name %}_ampm" type="radio" class="field" name="{% form_name %}[{% input_name %}][ampm]" value="am">AM</label>
					<label><input id="{% form_name %}_{% input_name %}_ampm" type="radio" class="field" name="{% form_name %}[{% input_name %}][ampm]" value="pm">PM</label>
				</span>
				<span class="full"><label for="{% form_name %}_{% input_name %}_hour">{% hint %}</label></span>
